body{
    background-color: var(--gray-dark);
    color: var(--light);
    font-size: 1.75rem;
}
ul{
    list-style-type:  none;
    padding-inline-start: 0px;
}
.smaller-text{
    font-size: 1.2rem;
}

.normal-text{
    font-size: 1.75rem;
}
.big-text{
    font-size: 2.25rem;
}

.larger-text{
    font-size: 2.75rem;
}
.even-larger-text{
    font-size: 3.25rem;
}


.current-order-card{
    padding: 1rem;
    background-color: white;
    border-radius: 15px;
}

.old-order-card{
    color: black;
    background-color: blanchedalmond;
    border: solid 2px brown;
    border-radius: 15px;
}

.orders-for-date{
    color: white;
    background-color: #000044;
    border-radius: 5px;
}

.stat{
    color:black;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    background-color: lemonchiffon;
    border: solid 5px goldenrod;
    border-radius: 20px;
}
.stat-title{

}

.stat .stat-desc {
  visibility: hidden;
  width: 80%;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left:10%;
  top:80%;
}

.stat:hover .stat-desc {
  visibility: visible;
}

#dow_table{
    margin: 1rem;
}