body{
    background-color: var(--gray-dark);
    color: var(--light);
    font-size: 1.75rem;
}
ul{
    list-style-type:  none;
    padding-inline-start: 0px;
}

.larger-text{
    font-size: 2.75rem;
}
.even-larger-text{
    font-size: 3.25rem;
}

.old-order-card{
    color: black;
    background-color: blanchedalmond;
    border: solid 2px brown;
    border-radius: 15px;
}

.orders-for-date{
    color: white;
    background-color: rosybrown;
    border: solid 2px darkred;
    border-radius: 5px;
}