<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pizza Time{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="shortcut icon" href="/static/favicon.ico"> -->
</head>
<body>
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand normal-text" href="/">Pizza Time</a>

    {% if g.user %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon larger-text"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item m-2">
                <a class="btn btn-block btn-light normal-text" href="/current_delivery">Current Delivery</a>
            </li>
            <li class="nav-item m-2">
                <a class="btn btn-block btn-light normal-text" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item m-2">
                <a class="btn btn-block btn-light normal-text" href="/edit_deliveries">Edit Deliveries</a>
            </li>
            <li class="nav-item m-2">
                <a class="btn btn-block btn-light normal-text" href="/show_schedule">Schedule</a>
            </li>
            
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item m-2" style="float:right;">
                <a class="btn btn-block btn-danger normal-text" href="/logout">Logout</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>

{% endblock %}

{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
<div class="container-fluid">
{% block content %}
{% endblock %}
{% block scripts %}
{% endblock %}

</div>
</body>

</html>