{% extends 'base.html' %}

{% block title %}Your Schedule{% endblock %}

{% block content %}
Today is {{datetime.datetime.today()|dateformat}} {{datetime.datetime.today()|timeformat}}
{% if shifts %}
<table class="table table-light table-striped table-sm table-bordered">
<thead class="thead-dark">
    <th>Date</th> <th>Start</th> <th>End</th> <th>Type</th>
</thead>
<tbody>
    {% for shift in shifts %}
    <tr>
        <td>{{shift.start|dateformat}}</td> <td> {{shift.start|timeformat}}</td> <td> {{shift.end|timeformat}} </td><td>{{shift.shift_type}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h1 class="h1">I Don't see any shifts here, Do You?</h1>
{% endif %}
{% endblock %}