{% extends 'base.html' %}

{% block title %}No Longer Supported!{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message larger-text">No Longer Supported!</h2>
        <p>
            Despite offering solutions to the liability concerns brought up by Pagliacci, they have instructed me to remove the
        Pagliacci feature of this app.<br />
            I am Complying.
            <br /><br /> 
            If you would like the features of this app on your Delivery Adventures (wherever they may come from), tell your 
            coorporate office to contact me at 
            <br/>
            <a class="larger-text" href="mailto:wax654@gmail.com" target="_blank">wax654@gmail.com</a>

            <br />
            I'm sure we can whip up an interface!

        </p>

        <a href="/login" class="btn btn-primary btn-block btn-lg larger-text">Go Back</a>
    </div>
</div>

{% endblock %}