{% if order %}
<!-- <h1>Delivery For {{order["name"]}}</h1> -->
<div class="container-fluid order-card">
    <div class="row" style="text-align: center;">
        <div class="col-12">
            <a class="btn btn-primary btn-lg btn-block"
                href="https://www.google.com/maps/dir/?api=1&dir_action=navigate&destination={{order['address']|urlencode}}">
                Order {{order['num']}} for <strong>{{order['name']}}</strong><br>
                Please Deliver To<br>
                <strong>{{order['address']}}</strong>
            </a>
        </div>
        <div class="col-12">
            {% include 'deliveries/order_tip_input.html'%}
        </div>
        <div class="col-12">
            <a class="btn btn-info btn-lg btn-block py-3" href="tel:{{order['phone']}}"> Call Customer:
                {{order['phone']}}</a><br>
        </div>
        <div class="col-12">
            <div class="alert alert-warning alert-lg alert-block py-3" style="text-align: left;">
                {% if order["customer"]["notes"] %}
                <h4 class="alert-heading">Notes:</h4>
                    {% for note in order["customer"]["notes"] %}
                    <div class="note-alert alert alert-info">
                        {% if note.driver.id != g.user.id %}
                        <div class="row align-items-center my-1 ">
                            <p class="h4 col-10 note "> {{note.note}}</p>
                            <small class="col-2"> -{{note.driver.name}}</small>
                        </div>
                        {% else %}
                        <div id="{{order['num']}}-personal-note" data-num="{{order['num']}}" data-date="{{order['date']}}" class="row my-1">
                            <p class="note h4 col-10">{{note.note}}</p>
                            <span class="note-edit-button btn btn-primary col-2">Edit</span>
                        </div>
                        <!-- The input element that'll get switched out with the alert if the edit button is clicked -->
                        <div id="{{order['num']}}-edit-note-input" style="display: none;">
                    
                        </div>
                    
                        <!-- end of input element -->
                        {% endif %}
                    </div>
                    {% endfor %}
                {% else %}
                    No Notes for customer, Click to add one!
                {% endif %}
                </div>
        </div>
    </div>
</div>


{% endif %}
