{% if order %}
<!-- <h1>Delivery For {{order["name"]}}</h1> -->
<div class="container-fluid current-order-card">
    <div class="row" style="text-align: center;">
        <div class="col-12 d-grid my-2">
            <a class="btn btn-primary btn-lg btn-block py-1 larger-text map-link"
                href="https://www.google.com/maps/dir/?api=1&dir_action=navigate&destination={{order['address']|urlencode}}">
                Order {{order['num']}} for <strong>{{order['name']}}</strong><br>
                <span class="normal-text">Please Deliver To</span><br>
                <strong class="even-larger-text">{{order['address']}}</strong>
            </a>
        </div>
        <div class="col-12 my-2">
            {% include 'deliveries/order_tip_input.html'%}
        </div>
        <div class="col-12">
            <div class="d-grid">
            <a class="btn btn-info btn-lg py-2 my-2 larger-text" href="tel:{{order['phone']}}">
                <span class="smaller-text">Call Customer:</span><br>
                {{order['phone']}}
            </a>
            </div>
        </div>
        <div class="col-12">
            {% set customer=order['customer'] %}
            {% include 'customers/notes.html'%}
        </div>
        </div>
</div>


{% endif %}
