{% extends 'base.html' %}

{% block title %}All Orders!{% endblock %}

{% block content %}
<ul id="order_list">
    {% for (date, order_list) in all_orders.items() %}
    <li class="date-breaks">{{date}}
        <ul>
            {% for order in order_list %}
            <li id="{{order['num']}}">
                {% include 'deliveries/old_order_card.html' %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/static/update_tips.js"></script>
{% endblock %}