{% if order %}
<h1>Delivery For {{order["name"]}}</h1>
<div class="flex-container">
    <a href="https://www.google.com/maps/dir/?api=1&dir_action=navigate&destination={{order['address']|urlencode}}">
        Order {{order['num']}} for {{order['name']}}
        to:
        <strong>{{order['address']}}</strong>,
        please.
    </a><br>
    <div>
        <form id="{{order['num']}}">
            <label for="tip">Tip</label>
            <input id="tip" name="tip" type="number" placeholder="{{order['tip']}}">
        </form>
    </div>
    <a href="tel:{{order['phone']}}"> Call Customer: {{order['phone']}}</a><br>
</div>

{% endif %}